

.test-demo{
  height: 100%;
  width: 100%;

}
.file-upload{
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  border: 1px solid #ccc;
  /* pointer-events: none; */
}

.file-upload *{
  /* -webkit-user-drag: none; */
}